.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

/proj.sublime-workspace
.firebase
example
.nyc_output/821c4142-f271-45e8-a82c-a4905fa6d1c0.json
.nyc_output/b1d375a0-da99-4cb6-ad47-6ff5b7ca7190.json
.nyc_output/dcec4f3e-14ab-41ca-a824-3fbfb6e06dbc.json
.nyc_output/processinfo/821c4142-f271-45e8-a82c-a4905fa6d1c0.json
.nyc_output/processinfo/b1d375a0-da99-4cb6-ad47-6ff5b7ca7190.json
.nyc_output/processinfo/dcec4f3e-14ab-41ca-a824-3fbfb6e06dbc.json
.nyc_output/processinfo/index.json
coverage/clover.xml
coverage/lcov.info
coverage/lcov-report/AdvancedSelect.vue.html
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/entry.js.html
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
